<button id="clipboard">
  <svg id="clipboardSvg" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
    ><path
      d="M19 3h-2.25a1 1 0 0 0-1-1h-7.5a1 1 0 0 0-1 1H5c-1.103 0-2 .897-2 2v15c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm0 17H5V5h2v2h10V5h2v15z"
    ></path></svg
  >
  <svg
    id="check"
    class="hidden"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
    ><path
      d="m2.394 13.742 4.743 3.62 7.616-8.704-1.506-1.316-6.384 7.296-3.257-2.486zm19.359-5.084-1.506-1.316-6.369 7.279-.753-.602-1.25 1.562 2.247 1.798z"
    ></path></svg
  >
</button>
